<link rel="stylesheet" href="{{ '/assets/css/features.css' | relative_url }}">

<div class="features">
    {% for feature in site.features %}
    {% if feature.title %}
    <div class="feature {% cycle 'left', 'right' %} {% if feature.show_screenshot != true %}text-only{% endif %}">
        <div class="featureContent">
            <div class="featureText">
                <span class="fa-stack fa-1x">
                    <i class="iconBack fas fa-circle fa-stack-2x"></i>
                    <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
                </span>
                <h3 style="color: {{ site.feature_title_color }};">
                    {{ feature.title }}
                </h3>
                <p style="color: {{ site.feature_text_color }};">
                    {{ feature.description }}
                </p>
            </div>
            {% if feature.show_screenshot %}
            <div class="featureScreenshot">
                <img class="screenshot" 
                     src="{{ feature.screenshot | relative_url }}" 
                     alt="{{ feature.title }} screenshot"
                     loading="lazy">
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>